.DrawSettingsRoot
{
  width: 100%;
  height: 100%;
}

#DrawStatusPanel
{
  vertical-align: bottom;
  margin-bottom: 280px;

  width: 280px;
  height: 150px;

  flow-children: down;

  border-color: gray;
  border-style: solid;
  border-width: 0.8px;
  opacity: 1.2;
  background-color: #000a;

  visibility: collapse;
}

.vote_in_progress #DrawStatusPanel
{
  visibility: visible;
}

#DrawHeader
{
  font-size: 26px;
  horizontal-align: center;

  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.DrawVotes
{
  font-size: 22px;
  margin-left: 10px;

  color: white;
}

.MajorityColor
{
  color: green;
}

#DrawButtonHolder
{
  vertical-align: bottom;
  margin-bottom: 281px;

  width: 280px;

  flow-children: right;

  visibility: collapse;
}

.can_vote #DrawButtonHolder
{
  visibility: visible;
}

#DrawButton {
    width: fit-children;

    background-color: #000e;
    background-repeat: no-repeat;
    
    vertical-align: middle;
    horizontal-align: center;
    

    border-top: 2px solid #3b404777;
    border-right: 2px solid #00000088;
    border-left: 2px solid #4c434677;
    border-bottom: 2px solid #00000088;
    border: 1px solid #bcd6;
    
    transition-property: background-color, wash-color;
    transition-delay: 0.0s;
    transition-duration: 0.1s;
    transition-timing-function: linear;
    wash-color: #eb4b4b;
}

#DrawButton:hover
{
    border: 1px solid #bcd6;
    background-color: #000d;
    wash-color: white;
}

#DrawButton:active
{
    border: 1px solid #fff;
    background-color: #000d;
    wash-color: white;
}

#DrawButton Label
{
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 1px;
    align: center center;
    margin-top: 5px;
	padding-left: 2px;
	padding-right: 2px;
	font-family: Radiance;
} 

#ContinueButton {
    width: fit-children;

    background-color: #000e;
    background-repeat: no-repeat;
    
    vertical-align: middle;
    horizontal-align: right;
    
    border-top: 2px solid #3b404777;
    border-right: 2px solid #00000088;
    border-left: 2px solid #4c434677;
    border-bottom: 2px solid #00000088;
    border: 1px solid #bcd6;
    
    transition-property: background-color, wash-color;
    transition-delay: 0.0s;
    transition-duration: 0.1s;
    transition-timing-function: linear;
    wash-color: #ade55c;
}

#ContinueButton:hover
{
    border: 1px solid #bcd6;
    background-color: #000d;
    wash-color: white;
}

#ContinueButton:active
{
    border: 1px solid #fff;
    background-color: #000d;
    wash-color: white;
}

#ContinueButton Label
{
    font-size: 24px;
    letter-spacing: 1px;
	padding-left: 2px;
	padding-right: 2px;
    align: center center;
    margin-top: 5px;
	font-family: Radiance;
} 

.vote_in_progress #ContinueButton
{
  visibility: visible;
}
