.HeroSelectionRoot
{
  width: 100%;
  height: 100%;
}

#HeroPickHolder
{
  width: 900px;
  height: 600px;

  horizontal-align: center;
  vertical-align: center;

  border-radius: 5.0px;
  background-color: #000000da;
  background-size: 100%;
  flow-children: right;
  border-top: 1px solid #ffffff11;
  border-left: 1px solid #ffffff11;
  border-right: 1px solid #ffffff11;
  border-bottom: 1px solid #ffffff11;
}

.HeroSelectHidden
{
  transition-property: opacity, transform;
    transition-duration: 0.25s;
  opacity: 0;
  transform: scaleX(0) scaleY(0) translatey(-50px);
}

.HeroSelectVisible
{
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}

#HeroList
{
  width: 550px;
  height: 100%;

  border-right: 2px solid #111111FF;

  flow-children: down;
}

#HeroListLabel
{
	align: center top;
	margin-top: 4px;
	margin-left: 4px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	text-shadow: 1px 1px 2px 1.2 black;
	font-family: defaultFont;
	font-size: 36px;
}

.HeroRow
{
  flow-children: right;
  padding: 5px;
  horizontal-align: center;
}

.HeroImage
{
  padding: 5px;
}

#HeroDetails
{
  width: 350px;
  height: 100%;
  background-image: url("file://{images}/custom_game/kunkka_scroll_texture_psd_mip0.tga");
  background-repeat: no-repeat;
  background-size: 100% 41%;
  box-shadow: fill #00000066 -4px -4px 8px 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #444444;
  flow-children: down;
}

#CurrentHeroLabel
{
	align: center top;
	margin-top: 15px;
	margin-left: 4px;
	margin-bottom: 0px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	text-shadow: 1px 1px 2px 1.2 black;
	font-family: defaultFont;
	font-size: 36px;
}

#RaceDescription
{
  margin-top: 25px;
  margin-left: 0px;
  background-image: url("file://{images}/custom_game/newbloom_scroll_texture_psd_mip0.tga");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

#RaceDescriptionLabel
{
	font-size: 20px;
	color: white;
	width: 100%;
	text-overflow: shrink;
	text-shadow: 0px 1px 0px 3.0 #00000077;
	margin-left: 10px;
	margin-top: 60px;
	margin-right: 10px;
	margin-bottom: 10px;
	transition-property: color;
	transition-duration: .1811s;
	transition-timing-function: ease-in-out;
}

#HeroSelectButton
{
	width: 70%;
	horizontal-align: center;
	margin-top: -70px;

	background-image: url("s2r://panorama/images/backgrounds/background_play_button_large_2x_png.vtex");
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5A615Ecc ), to( #879695cc ) );

	border-top: 1px solid #ffffff44;
	border-right: 1px solid #00000088;
	border-left: 1px solid #ffffff44;
	border-bottom: 1px solid #00000088;

	transition-property: box-shadow, background-color, opacity, transform;
	transition-delay: 0.0s;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	
	brightness: 1;
}

#HeroSelectButton:Hover
{
  brightness: 1.2;
 }

#HeroSelectButtonLabel
{
	font-size: 25px;
	text-align: center;
	margin-top: 4px;
	horizontal-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	text-shadow: 1px 1px 2px 1.2 black;
	font-family: defaultFont;
}

.HeroImage {
	width: 148px;
	height: 186px;
	background-color: #000000de;
	vertical-align: middle;
	horizontal-align: center;
	tooltip-position: top;
	opacity: 0.9;
	margin-right: 5px;
	border-top: 1px solid #ffffff11;
	border-left: 1px solid #ffffff11;
	border-right: 1px solid #ffffff11;
	border-bottom: 1px solid #ffffff11;
}

.HeroImage:hover {
	opacity: 2;
	pre-transform-scale2d: 1.05;
	
}

#HeroImageSelected {
	width: 148px;
	height: 186px;
	background-color: #000000de;
	vertical-align: middle;
	horizontal-align: center;
	tooltip-position: top;
	opacity: 0.9;
	margin-left: 5px;
	margin-top: 25px;
	border-top: 1px solid #ffffff11;
	border-left: 1px solid #ffffff11;
	border-right: 1px solid #ffffff11;
	border-bottom: 1px solid #ffffff11;
}