.RoundTimerRoot
{
  width: 100%;
  height: 100%;
}

#RoundTimerContainer
{
  width: 300px;
  height: 100px;

  horizontal-align: right;
  vertical-align: top;

  margin-top: 50px;

  background-color: #000000ee;
  background-size: 100%;
  flow-children: right;
}

.RoundTimerHidden
{
  transition-property: opacity, transform;
    transition-duration: 0.75s;
  opacity: 0;
  transform: scaleX(0) scaleY(0) translatey(-50px);
}

.RoundTimerVisible
{
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}

#TimerHolder
{
  width: 100px;
  height: 100%;
  border-right: 1px solid #ffffff11;
}

#CountdownTimer
{
  text-align: center;
  font-size: 64px;

  vertical-align: center;
  horizontal-align: center;

  margin-top: 10px;
}

#RoundInfo
{
  flow-children: down;
  horizontal-align: center;
  vertical-align: center;
}

#RoundLabel
{
  font-size: 28px;
  horizontal-align: center;
  border-bottom: 1px solid #ffffff11;
}

#RoundStatusLabel
{
  font-size: 28px;
  horizontal-align: center;
}