.AddonLoadingRoot
{
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: clip;
}

.SeqImg
{
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100% 100%;

  width: 100%;
  height: 100%;
}

#CustomBg
{
  overflow: clip;
  pre-transform-scale2d: 1.0;
  width: 100%;
  height: 100%;
}

#gamemode
{
}