.AddonLoadingRoot
{
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: clip;
}

.SeqImg
{
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100% 100%;
  brightness: 0.5;
  blur: gaussian(8);
  width: 100%;
  height: 100%;
}

#CustomBg
{
  overflow: clip;
  pre-transform-scale2d: 1.0;
  width: 100%;
  height: 100%;
}

.GameInformationPanel
{
	background-image: url("s2r://panorama/images/topbar/topbar_home_small_png.vtex");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 165px;
}

#gamemode
{
}

#MainAmbient {
	width: 100%;
	height: 1080px;
	brightness: 0.08;
}

#OptionListAdvanced {
	width: 370px;
	height: 230px;
    flow-children: down;
	background-color: #000000BA;
	border-radius: 8px;
	vertical-align: center;
	horizontal-align: center;
	margin-top: 790px;
	margin-left: 720px;
	
	visibility: collapse;
}

#OptionListGroupAdvanced {
	width: 100%;
    height: 100%;
    padding: 8px;
    vertical-align: middle;
	border-radius: 8px;
}

.OptionDivider 
{	
  width: 80%;
  height: 2px;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 0px;
  background-color: gray;
  horizontal-align: center;
}

#Options {
	width: 100%;
	height: 100%;
    margin-top: -60px;
    text-transform: uppercase;
    flow-children: down;
	margin-left: 5px;
}

#SettingsPanel {
  width: 500px;
  height: 670px;
  background-color: #000000BA;
  margin-left: 55px;
  margin-top: 100px;
  border-style: solid;
    border-width: 1px;
    border-color: #444444;
  border-radius: 7px;
  flow-children: down;
}

.SettingsRow {
  flow-children: right;
  width: 80%;
  horizontal-align: center;

  margin: 4px 0 4px 0;
  background-color: #141616;

}

.SettingsRow Label {
  font-size: 24px;
  letter-spacing: 1px;
  color: #AABBBB;

  padding: 3px;
}

.SettingsRowLeft {
  horizontal-align: left;
}

.SettingsRowRight {
  horizontal-align: right;
}

#InfoPanel {
	width: 500px;
	height: 670px;
	background-color: #000000BA;
	margin-left: 55px;
	margin-top: 100px;
	border-style: solid;
    border-width: 1px;
    border-color: #444444;
	border-radius: 7px;
  visibility: collapse;
	flow-children: down;
}

#TipsPanel {
	width: 500px;
	height: 670px;
	background-color: #000000BA;
	margin-left: 55px;
	margin-top: 100px;
	border-style: solid;
    border-width: 1px;
    border-color: #444444;
	border-radius: 7px;
	visibility: collapse;
	flow-children: down;
}

#CreditsPanel {
	width: 500px;
	height: 670px;
	background-color: #000000BA;
	margin-left: 55px;
	margin-top: 100px;
	border-style: solid;
    border-width: 1px;
    border-color: #444444;
	border-radius: 7px;
	visibility: collapse;
	flow-children: down;
}


.InfoLabel
{
	margin-top: 15px;
	margin-left: 15px;
	horizontal-align: center;
	font-size: 55px;
	color: orangered;
	text-shadow: 2px 2px 2px #000000;
	font-weight: bold;
	text-transform: uppercase;
}

.TipsLabel
{
	margin-top: 15px;
	margin-left: 15px;
	horizontal-align: center;
	font-size: 55px;
	color: orangered;
	text-shadow: 2px 2px 2px #000000;
	font-weight: bold;
	text-transform: uppercase;
}

.CreditsLabel
{
	margin-top: 15px;
	margin-left: 15px;
	margin-bottom: 10px;
	horizontal-align: center;
	font-size: 55px;
	color: orangered;
	text-shadow: 2px 2px 2px #000000;
	font-weight: bold;
	text-transform: uppercase;
}

.Tips
{
	padding-bottom: 15px;
	margin-left: 15px;
	text-align: left;
	font-size: 20px;
	color: white;
	text-shadow: 2px 2px 2px #000000;
	horizontal-align: left;
}

.List
{
	padding-bottom: 5px;	
	padding-left: 5px;
	text-align: left;
	font-size: 20px;
	color: white;
	text-shadow: 2px 2px 2px #000000;
	horizontal-align: center;
	width: 80%;
}

.CreditsDescription {
	margin-bottom: 20px;
}