.HeroSelectionRoot {
    width: 100%;
    height: 100%;
    flow-children: down;
}

.DraftModeContainter {
    horizontal-align: center;
    vertical-align: top;
    margin-top: 60px;
    background-color: #000000da;
    padding: 5px;
}

#DraftModeHeroSelectLabel {
    align: center top;
    margin-top: 1px;
    margin-left: 4px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px 1.2 black;
    font-family: defaultFont;
    font-size: 36px;
}

.visible {
    opacity: 1;
}

.hidden {
    opacity: 0;
}

#HeroPickHolder {
    min-height: 200px;

    horizontal-align: center;
    vertical-align: top;

    margin-top: 20px;

    padding: 5px;
    padding-right: 0px;

    border-radius: 5px;
    background-color: #000000da;
    background-size: 100%;
    flow-children: right;
    border-top: 1px solid #ffffff11;
    border-left: 1px solid #ffffff11;
    border-right: 1px solid #ffffff11;
    border-bottom: 1px solid #ffffff11;

    flow-children: down;
}

.HeroRow {
    padding: 5px;
    padding-right: 0px;
    flow-children: right;
    horizontal-align: center;
}

.HeroSelectHidden {
    transition-property: opacity, transform;
    transition-duration: 0.25s;
    opacity: 0;
    transform: scaleX(0) scaleY(0) translatey(-50px);
}

.HeroSelectVisible {
    opacity: 1;
    transform: scaleX(1) scaleY(1);
}

#HeroListLabel {
    align: center top;
    margin-top: 4px;
    margin-left: 20px;
    margin-right: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px 1.2 black;
    font-family: defaultFont;
    font-size: 36px;
}

#HeroDetailsContainer {
    horizontal-align: center;
    width: 650px;
    height: 300px;
    margin-top: 20px;
}

#HeroDetails {
    height: 100%;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    background-color: #000000da;
    background-size: 100%;
    border-top: 1px solid #ffffff11;
    border-left: 1px solid #ffffff11;
    border-right: 1px solid #ffffff11;
    border-bottom: 1px solid #ffffff11;
    flow-children: down;
}

#CurrentHeroLabel {
    horizontal-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px 1.2 black;
    font-family: defaultFont;
    font-size: 36px;
}

#RaceDescriptionLabel {
    font-size: 20px;
    color: white;
    width: 100%;
    height: 100px;
    text-overflow: shrink;
    text-shadow: 0px 1px 0px 3 #00000077;
    transition-property: color;
    transition-duration: 0.1811s;
    transition-timing-function: ease-in-out;

    margin-bottom: 25px;
}

#HeroSelectButton {
    width: 250px;
    horizontal-align: center;
    vertical-align: center;

    background-color: #5a615ecc;

    border: 1px solid #00000088;

    transition-property: box-shadow, background-color, opacity, transform;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;

    brightness: 1;
}

#HeroSelectButton:hover {
    brightness: 1.2;
}

#HeroSelectButtonLabel {
    font-size: 28px;
    text-align: center;
    horizontal-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px 1.2 black;
    font-family: defaultFont;
}

#RandomHeroButton {
    width: 250px;
    horizontal-align: center;
    vertical-align: center;

    background-color: #5a615ecc;

    border: 1px solid #00000088;

    transition-property: box-shadow, background-color, opacity, transform;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;

    brightness: 1;
}

#RandomHeroButton:hover {
    brightness: 1.2;
}

#RandomHeroButtonLabel {
    font-size: 28px;
    text-align: center;
    horizontal-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px 1.2 black;
    font-family: defaultFont;
}

.HeroImage {
    width: 148px;
    height: 186px;
    background-color: #000000de;
    vertical-align: middle;
    horizontal-align: center;
    tooltip-position: top;
    opacity: 0.85;
    margin-right: 10px;
    border-top: 1px solid #ffffff11;
    border-left: 1px solid #ffffff11;
    border-right: 1px solid #ffffff11;
    border-bottom: 1px solid #ffffff11;
}

.HeroImage:hover {
    opacity: 2;
    pre-transform-scale2d: 1.05;
}

.hero-selected {
    border: 5px solid #ffffffce;
    opacity: 2;
}

#SelectedHeroMovie {
    horizontal-align: center;
}

.HeroImageSelected {
    width: 148px;
    height: 186px;
    background-color: #000000de;
    vertical-align: middle;
    horizontal-align: center;
    tooltip-position: top;
    opacity: 0.9;
    margin-left: 5px;
    margin-top: 25px;
    border-top: 1px solid #ffffff11;
    border-left: 1px solid #ffffff11;
    border-right: 1px solid #ffffff11;
    border-bottom: 1px solid #ffffff11;
}

.HeroSelectionHidden {
    visibility: collapse;
}
